<h2>Busqueda de paises</h2>
<hr>
<ul class="list-group">

  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
      Home Page
  </li>

  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
      About Page
  </li>

  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
      Contact Page
  </li>

  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">
      Search by Capital
  </li>

  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item">
      Search by Country
  </li>

  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item">
      Search by Region
  </li>

  <li
    routerLink="countries/by/:id"
    routerLinkActive="active"
    class="list-group-item">
      paises
  </li>

</ul>
